a.flex.my-auto.text-4xl.text-left.font-semibold(href='/')
  img(src="/ghst.gif" width=40 height=40)
  .flex-col(class="md:flex")
    .text-white ticket.shop
    .text-xs Autocompounding GHST / ticket market!
